<nav class="navbar navbar-dark indigo"  style="background-color: #0277bd;margin-bottom: 10px;">
  <span class="navbar-text white-text" >
   <h2 style="color: white;">Detecting Pandemics</h2>
  </span>
</nav>

<div class="row">
  <div class="col-sm-8">
    <div id="map"></div>
  </div>
  <div class="col-sm-4" class="menu" >
      <h3>Symtoms</h3>   
      <div *ngFor="let s of symptoms; let i = index">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="{{s.id}}" (change)="checkValue($event,s.id)" >
          <label   [style.background-color]="colors[i]" class="custom-control-label" back for="{{s.id}}">{{s.name}}</label>
        </div>
      </div>

      <h3>Filter by date</h3>
      <mat-form-field>
        <input matInput [matDatepicker]="dp" [formControl]="date" (dateChange)="changeDate('change', $event)" >
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
        
  </div>  
</div>




<router-outlet></router-outlet>

